@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
<div class="jumbotron text-center">
  <h2>Add new Student</h2>
</div>
<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("Back to all students", "Index")</button>
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("Home", "Index", "Home")</button>
  </div>
</div>
<hr />
@using (Html.BeginForm())
{
  @Html.Label("Date Of Enrollment") 
  @Html.TextBoxFor(model => model.EnrollmentDate, new {type = "date"})
  <br/>

  @Html.LabelFor(model => model.Name) 
  @Html.TextBoxFor(model => model.Name)
  <br/>

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId") 

  <button type="Submit" class="btn btn-primary">Add Student</button>
}
