@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<div class="jumbotron text-center">
  <h2>Edit @Html.DisplayFor(model => model.Name)</h2>
</div>
<div>
  @using(Html.BeginForm())
  {
      @Html.HiddenFor(model => model.StudentId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      @Html.Label("Enrollment Date")
      @Html.EditorFor(model => model.EnrollmentDate, new { type="date" })
  }
</div>