@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<div class="jumbotron text-center">
  <h2>Add a new Course</h2>
</div>

<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("Show all course", "Index")</button>
  </div>
</div>

@using (Html.BeginForm())
{
  @Html.Label("Course Name")
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Course Number")
  @Html.TextBoxFor(model => model.CourseNum)

  <button type="submit" class="btn btn-primary">Add new course</button>
}