@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course


<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.CourseNum)
    @Html.EditorFor(model => model.CourseNum)

    <button type="submit" class="btn btn-primary">Save</button>
}
<p>@Html.ActionLink("Back to list", "Index")</p>